page-home {
   .scroll-content{
        background-color:#7ee9eb;
        padding: 0px !important;

    }
   
    .item-md {
        padding-left: 0px;
    }
    .input-wrapper{
        margin-left: 8px;
    }
    form{
        margin-top: 8px;
    }
    .list{
        margin-top:8px;
    }
    .toolbar-title{
        color: rgb(59, 113, 179);
       }
}
