page-detail {
.center{
    text-align:center;
}
.scroll-content{
    background-color:#7ee9eb;
    padding: 8px 0px !important;

}
.toolbar-title{
    color: rgb(59, 113, 179);
    font-weight: normal;
   }
}
